@model apiUI.Models.author.updateAuthorModelView
@{
    ViewData["Title"] = "updateAuthor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>updateAuthor</h1>

@using (Html.BeginForm("updateAuthor", "author", FormMethod.Post))
{
    <div class="form-group">
        <label>Auhtor Name</label>
        @Html.TextBoxFor(i => i.authorName, new { @class = "form-control" })
        <br />
        <label>Auhtor Mail</label>
        @Html.TextBoxFor(i => i.mail, new { @class = "form-control" })
        <br />
        <label>Auhtor Password</label>
        @Html.TextBoxFor(i => i.password, new { @class = "form-control" })
        @Html.HiddenFor(i => i.authorId)
        <button class="btn btn-primary" style="margin-top:5px;">Update Author</button>
    </div>
}
